# Conexión a Cloud SQL (Postgres)
# La password real NO se commitea. Cada uno tiene su propio .env local.
POSTGRES_URI=postgresql+psycopg2://postgres:TU_PASSWORD@34.46.239.72:5432/recos_db

# GCP
GCP_PROJECT_ID=tp-final-adtech-493922
GCP_REGION=us-central1
GCS_BUCKET=tp-final-adtech

# Cloud Run
CLOUD_RUN_URL=https://fastapi-tp-xbo6kajhza-uc.a.run.app
